@if (ServerSettings == null)
{
    <LoadingText />
}
else
{
    if (ServerSettings.Url == null)
    {
        <Alert Message="To send an invitation, a server address is required, please add it in the parameters page." />
        <div class="text-right mt-3">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Close</button>
        </div>
    }
    else if (SoftwareVaultInvitation.Employee.Email == null)
    {
        <Alert Message="The employee does not have an email, for the invitation you must add an email to the employee." />
        <div class="text-right mt-3">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Close</button>
        </div>
    }
    else
    {
        <h5 class="mb-4">You want to resend invitation to @SoftwareVaultInvitation.Employee.FullName?</h5>
        <div class="form-group text-right mb-0">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
            <ButtonSpinner Class="btn-primary" Callback="SendAsync" Text="Send" />
        </div>
    }
}