<ul class="custom-horizontal-pills nav nav-pills mb-3 nav-fill flex-column flex-md-row" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="vaults-tab" data-toggle="pill" href="#" role="tab" aria-selected="true" @onclick="GetVaultsSectionAsync">Vaults</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="invitations-tab" data-toggle="pill" href="#" role="tab" aria-selected="false" @onclick="GetInvitationsSectionAsync">Invitations</a>
    </li>
</ul>
<div>
    @if (TabBody != null)
    {
        @TabBody
    }
</div>
