@if (Template == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="Template" OnValidSubmit="CreateTemplateAsync">
        <DataAnnotationsValidator />
        <ValidationErrorMessage @ref="ValidationErrorMessage" />
        <div class="form-group">
            <label class="control-label text-gray">Name</label>
            <InputText @bind-Value="Template.Name" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => Template.Name)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Urls</label>
            <InputText @bind-Value="Template.Urls" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => Template.Urls)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Apps</label>
            <InputText @bind-Value="Template.Apps" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => Template.Apps)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </EditForm>
}