@if (Template == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="Template" OnValidSubmit="EditTemplateAsync">
        <DataAnnotationsValidator />
        <ValidationErrorMessage @ref="ValidationErrorMessage" />
        <div class="form-group">
            <label class="control-label text-gray">Name</label>
            <InputText class="form-control" @bind-Value="Template.Name" />
            <ValidationMessage For="@(() => Template.Name)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Urls</label>
            <InputText class="form-control" @bind-Value="Template.Urls" />
            <ValidationMessage For="@(() => Template.Urls)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Apps</label>
            <InputText class="form-control" @bind-Value="Template.Apps" />
            <ValidationMessage For="@(() => Template.Apps)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="async () => await ModalDialogService.CancelAsync()">Cancel</button>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </EditForm>
}