@page "/Settings/Parameters"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]
@inherits OwningComponentBase

@if (Initialized)
{
    <SettingsCard Title="Licensing" Description="API authentication key for ordering licenses and the address of the licensing server.">
        <div class="form-group">
            <label class="control-label text-gray">Api Address</label>
            @if (LicensingSettings?.ApiAddress != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @LicensingSettings.ApiAddress
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Required to set
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary" @onclick="OpenDialogLicensingSettingsAsync">Set Licensing Settings</button>
        </div>
    </SettingsCard>
    <SettingsCard Title="Domain" Description="To connect to the domain and import groups and users.">
        <div class="form-group">
            <label class="control-label text-gray">Domain Name</label>
            @if (DomainHost != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @DomainHost
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Required to set
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary" @onclick="OpenDialogLdapSettingsAsync">Set Domain Settings</button>
            @if (DomainHost != null)
            {
                <button type="button" class="btn btn-danger" @onclick="OpenDialogDeleteLdapCredentialsAsync">Delete Credentials</button>
            }
        </div>
    </SettingsCard>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <LoadingPage />
}