@if (Account == null)
{
    <LoadingText />
}
else
{
<EditForm Model="AccountOtp" OnValidSubmit="EditAccoountOtpAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <h5 class="text-gray mb-4 text-break"><b>@Account.Name</b></h5>
    <div class="form-group">
        <label class="control-label text-gray">Otp Secret</label>
        <InputText @bind-Value="AccountOtp.OtpSecret" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => AccountOtp.OtpSecret)" class="text-danger" />
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</EditForm>
}