@if (!Initialized)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="group" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <EditForm Model="AccountPassword" OnValidSubmit="EditAccoountPasswordAsync">
            <DataAnnotationsValidator />
            <h5 class="text-gray mb-4 text-break"><b>@Account.Name</b></h5>
            <div class="form-group">
                <label class="control-label text-gray">Password</label>
                <InputText @bind-Value="AccountPassword.Password" type="password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => AccountPassword.Password)" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="control-label text-gray">Confirm Password</label>
                <InputText @bind-Value="AccountPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => AccountPassword.ConfirmPassword)" class="text-danger" />
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}