<EditForm Model="Department" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <FormLabel For="@(() => Department.Name)" class="text-gray" />
        <InputText @bind-Value="Department.Name" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Department.Name)" class="text-danger" />
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
        <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Create" Class="btn btn-primary" />
    </div>
</EditForm>