<EditForm Model="Company" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <label class="control-label text-gray">Name</label>
        <InputText @bind-Value="Company.Name" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Company.Name)" class="text-danger" />
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</EditForm>