@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms


<div class="profile-fill-card">
    <h4 class="text-navyblue">Delete Personal Data</h4>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>
    <div>
        <EditForm Model="Input" OnValidSubmit="DeletePersonalDataAsync">
            <DataAnnotationsValidator />
            @if (RequirePassword)
            {
                <div class="form-group max-w-350">
                    <label class="text-gray">Password</label>
                    <input type="password" @bind="Input.Password" class="form-control" />
                    <ValidationMessage For="@(() => Input.Password)" class="text-danger" />
                </div>
            }
            <button class="btn btn-danger" type="submit">Delete data and close my account</button>
        </EditForm>
    </div>
</div>