@page "/Identity/Account/Manage/GenerateRecoveryCodes"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]

<NavigationHeader Tab="NavigationHeader.ActiveTab.TwoFA" />

@if (Initialized)
{
    <div class="card">
        <div class="card-body">
            <h4 class="text-navyblue mb-3">Generate two-factor authentication (2FA) recovery codes</h4>
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>Put these codes in a safe place.</strong>
                </p>
                <p>
                    If you lose your device and don't have the recovery codes you will lose access to your account.
                </p>
                <p>
                    Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                    used in an authenticator app you should <a href="/Identity/Account/Manage/ResetAuthenticator">reset your authenticator keys.</a>
                </p>
            </div>
            <div>
                <button class="btn btn-danger" type="button" @onclick="GenerateRecoveryCodesAsync">Generate Recovery Codes</button>
            </div>
        </div>
    </div>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <LoadingPage />
}