@page "/Identity/Account/Manage/TwoFactorAuthentication"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]

<NavigationHeader Tab="NavigationHeader.ActiveTab.TwoFA" />

@if (Initialized)
{
    <div class="card">
        <div class="card-body">
            <h4 class="text-navyblue">Two-factor authentication (2FA)</h4>
            @if (TwoFactorInfo.Is2faEnabled)
            {
                <h5 class="mb-4">Manage 2FA</h5> if (TwoFactorInfo.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>You have no recovery codes left.</strong>
                        <p>You must <a href="/Identity/Account/Manage/GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                    </div>
                }
                else if (TwoFactorInfo.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>You have 1 recovery code left.</strong>
                        <p>You can <a href="/Identity/Account/Manage/GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }
                else if (TwoFactorInfo.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>You have @TwoFactorInfo.RecoveryCodesLeft recovery codes left.</strong>
                        <p>You should <a href="/Identity/Account/Manage/GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }
                if (TwoFactorInfo.IsMachineRemembered)
                {
                    <button type="button" class="btn btn-primary" @onclick="ForgetBrowserAsync">Forget this browser</button>
                }
                <a href="/Identity/Account/Manage/Disable2fa" class="btn btn-primary">Disable 2FA</a>
                <a href="/Identity/Account/Manage/GenerateRecoveryCodes" class="btn btn-primary">Reset recovery codes</a>
                <div class="mb-4"></div>
            }
            <h5 class="mb-4">Authenticator app</h5>
            @if (!TwoFactorInfo.HasAuthenticator)
            {
                <a id="enable-authenticator" href="/Identity/Account/Manage/EnableAuthenticator" class="btn btn-primary">Add authenticator app</a>
            }
            else
            {
                <a id="enable-authenticator" href="/Identity/Account/Manage/EnableAuthenticator" class="btn btn-primary">Setup authenticator app</a>
                <a id="reset-authenticator" href="/Identity/Account/Manage/ResetAuthenticator" class="btn btn-primary">Reset authenticator app</a>
            }
        </div>
    </div>
}

else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <LoadingPage />
}