@if (HardwareVaultId == null)
{
    <LoadingText />
}
else
{
    @if (VaultStatus == VaultStatus.Suspended)
    {
        <div class="alert alert-success" role="alert">
            Are you sure you want to switch the <b>@HardwareVaultId</b> device to <b>Suspended</b> status?
        </div>

        <div>
            <textarea @bind="StatusDescription" class="form-control" placeholder="StatusDescription" rows="2" />
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-secondary mr-2" @onclick="CloseAsync">Cancel</button>
            <input type="submit" class="btn btn-primary button-min-width" @onclick="ChangeStatusAsync" value="Ok" />
        </div>
    }
    else if (VaultStatus == VaultStatus.Active)
    {
        <div class="alert alert-success" role="alert">
            Are you sure you want to switch the <b>@HardwareVaultId</b> device to <b>Active</b> status?
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-secondary mr-2" @onclick="CloseAsync">Cancel</button>
            <input type="submit" class="btn btn-primary button-min-width" @onclick="ChangeStatusAsync" value="Ok" />
        </div>
    }
    else if (VaultStatus == VaultStatus.Compromised)
    {
        <div class="alert alert-success" role="alert">
            Are you sure you want to switch the <b>@HardwareVaultId</b> device to <b>Compromised</b> status?
        </div>

        <div>
            <label class="mb-0 text-gray">Status reason</label>
            <select id="filterStatus" @bind="StatusReason" class="form-control">
                <option selected value=@VaultStatusReason.Lost >Lost</option>
                <option value=@VaultStatusReason.Stolen >Stolen</option>
            </select>
        </div>

        <div class="mt-2">
            <textarea @bind="StatusDescription" class="form-control" placeholder="Description" rows="2" />
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-secondary mr-2" @onclick="CloseAsync">Cancel</button>
            <input type="submit" class="btn btn-primary button-min-width" @onclick="ChangeStatusAsync" value="Ok" />
        </div>
    }
}