@if (HardwareVault == null)
{
    <LoadingSpinner />
}
else
{
    <EditForm Model="@HardwareVault" OnValidSubmit="EditAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <h5 class="text-navyblue">@HardwareVault.Id</h5>
        </div>
        <div class="form-group">
            <label class="text-gray">RFID</label>
            <InputText @bind-Value="HardwareVault.RFID" class="form-control text-navyblue" />
            <ValidationMessage For="() => HardwareVault.RFID" />
        </div>
        <div class="form-group m-0 text-right">
            <button type="button" class="btn btn-secondary" @onclick="CloseAsync">Cancel</button>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </EditForm>
}
