@if (HardwareVaults == null)
{
    <LoadingText />
}
else
{
    <Alert Message="@WarningMessage" />
    <TableFilter EnableFilterButton="false" SearchTextChanged="SearchTextChangedAsync" />
    <div class="list-group my-3 py-1 overflow-auto max-50-vh">
        @foreach (var hardwareVault in HardwareVaults)
        {
            <button class="list-group-item list-group-item-action @(hardwareVault.Id == SelectedHardwareVault?.Id ? "active": string.Empty)" @onclick="async () => await SelectedItemChangedAsync(hardwareVault)">
                @hardwareVault.Id - @hardwareVault.Employee.FullName
            </button>
        }
    </div>
    @if (AlreadyAdded)
    {
        <div class="alert alert-danger" role="alert">
            Warning! You are trying to allow proximity on more than one device. This can lead to unstable system behavior.
        </div>
    }
    <div class="text-right">
        <button type="button" class="btn btn-secondary btn-min-w" @onclick="ModalDialogService.CancelAsync">Cancel</button>
        <ButtonSpinner Text="Add" Class="btn btn-primary btn-min-w" Callback="AddVaultAsync" />
    </div>
}