<h5 class="text-gray mb-4 ">You want to delete vault @Workstation.Name?</h5>
<div class="text-right">
    <button type="button" class="btn btn-secondary" @onclick="@ModalDialogService.CancelAsync">Cancel</button>
    <ButtonSpinner Class="btn btn-danger" Text="Delete" Callback="@DeleteAsync" />
</div>