<EditForm Model="Group" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />
    <NameUsage @ref="NameUsageMessage" />
    <div class="form-group">
        <label class="control-label text-gray">Name</label>
        <InputText id="apiKey" @bind-Value="Group.Name" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Group.Name)" class="text-danger" />
    </div>
    <div class="form-group">
        <label class="control-label text-gray">Email</label>
        <InputText id="apiKey" @bind-Value="Group.Email" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Group.Email)" class="text-danger" />
    </div>
    <div class="form-group">
        <label class="control-label text-gray">Description</label>
        <InputTextArea id="apiKey" @bind-Value="Group.Description" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Group.Description)" class="text-danger" />
    </div>
    <div class="form-group text-right mb-0">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</EditForm>
