<h5 class="mb-4">You want to delete group @Group.Name?</h5>

<div class="form-group text-right mb-0">
    <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
    <button class="btn btn-danger" @onclick="DeleteAsync">Delete</button>
</div>