@if (!Initialized)
{
    <LoadingText />
}
else
{
    <EditForm Model="Filter" OnValidSubmit="FilterAsync">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Name</label>
                <InputText id="groupName" @bind-Value="Filter.Name" class="form-control text-navyblue" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Email</label>
                <InputText id="groupEmail" @bind-Value="Filter.Email" class="form-control text-navyblue" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Members Count</label>
                <InputText id="groupMembersCount" @bind-Value="Filter.MembersCount" class="form-control text-navyblue" />
            </div>
            <div class="col align-self-end text-right form-group">
                <ButtonSpinner Text="Clear" Class="btn btn-secondary" Callback="ClearAsync" />
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Filter" Class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
}