@if (GroupMembership == null)
{
    <span>Loading</span>
}
else
{
    <h5 class="mb-4">You want to remove employee @GroupMembership.Employee.FullName?</h5>

    <div class="form-group text-right mb-0">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await MainWrapper.ModalDialogComponent.CloseAsync())">Cancel</button>
        <button class="btn btn-danger" @onclick="DeleteAsync">Remove</button>
    </div>
}