<div>
    <div class="alert alert-warning rounded-0" role="alert" style="margin-left:-16px; margin-right:-16px">
        <b>Are you sure you want to turn off the alarm and unlock all workstations?</b>
    </div>
    <div class="form-group">
        <label class="control-label text-gray">Please enter your password to confirm</label>
        <input type="password" @bind-value="UserConfirmPassword" @bind-value:event="oninput" class="form-control" />
    </div>
    <div class="text-right mt-2">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogService.CancelAsync">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="DisableAlarmAsync">Continue</button>
    </div>
</div>