@inherits OwningComponentBase

@if (HardwareVault == null)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="hardware vault" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <Alert Message="The RFID will not change on the hardware vault." />
        <EditForm Model="@HardwareVault" OnValidSubmit="EditAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <h5 class="text-navyblue">@HardwareVault.Id</h5>
            </div>
            <div class="form-group">
                <FormLabel For="@(() => HardwareVault.RFID)" class="text-gray"/>
                <InputText @bind-Value="HardwareVault.RFID" class="form-control text-navyblue" />
                <ValidationMessage For="() => HardwareVault.RFID" />
            </div>
            <div class="form-group m-0 text-right">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}