/*#region Blazor*/

.invalid {
    border-color: #dc3545;
}

.validation-message {
    color: #dc3545;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

#components-reconnect-modal {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    text-align: center;
}

    #components-reconnect-modal.components-reconnect-show {
        display: block;
    }

        #components-reconnect-modal.components-reconnect-show div.reconnecting {
            display: flex;
        }

div.reconnecting {
    display: none;
}

#components-reconnect-modal.components-reconnect-failed {
    display: block;
}

    #components-reconnect-modal.components-reconnect-failed div.failed-to-connect {
        display: flex;
    }

div.failed-to-connect {
    display: none;
}

#components-reconnect-modal.components-reconnect-rejected {
    display: block;
}

    #components-reconnect-modal.components-reconnect-rejected div.connection-rejected {
        display: flex;
    }

div.connection-rejected {
    display: none;
}

#components-reconnect-modal.components-reconnect-hide {
    display: none;
}

 /* Safari and Chrome */
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

/*#endregion*/

.loading-page {
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 100;
    width: calc(100vw - 250px);
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #F7F8FC;
}

@media screen and (max-width: 768px) {
    .loading-page {
        left: 68px;
        width: calc(100vw - 68px);
    }
}

.loading-tab {
    position: fixed;
    top: 119px;
    left: 250px;
    z-index: 100;
    width: calc(100vw - 250px);
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #F7F8FC;
}

@media screen and (max-width: 768px) {
    .loading-tab {
        top: 0;
        left: 68px;
        width: calc(100vw - 68px);
    }
}

.table-fixed-header {
    table-layout: fixed;
    border-collapse: collapse;
}

    .table-fixed-header td:first-child,
    .table-fixed-header th:first-child {
        max-width: 1%;
    }

    .table-fixed-header td:not(:first-child),
    .table-fixed-header th:not(:first-child) {
        width: 100%;
    }

    .table-fixed-header thead tr {
        display: block;
        position: relative;
    }

    .table-fixed-header tbody {
        display: block;
        overflow: auto;
        width: 100%;
    }

.table-scrollable {
    overflow-y: auto;
    max-height: 60vh;
}

.table-action-column {
    width: 1px;
}

.table-checkbox-column {
    width: 1px;
}

.table-row {
    cursor: pointer;
}

.table-selected-row {
    color: white !important;
    background-color: #007BFF !important;
}

.table-sort-arrow {
    cursor: pointer;
    width: 18px;
}

.table-sort-arrow-up {
    content: url("/svg/icon-table-arrow-sort.svg");
}

.table-sort-arrow-down {
    content: url("/svg/icon-table-arrow-sort.svg");
    transform: rotate(180deg);
}

.table-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #FFFFFF80;
}

.btn-min-w {
    min-width: 74px;
}

.cursor-pointer {
    cursor: pointer;
}

.settings-card {
    max-width: 998px;
    background: #FFF;
    border-radius: 0.25rem !important;
    border: 1px solid #dee2e6 !important;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.icon-collapse-arrow {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid black;
    border-left: .3em solid transparent;
}

div.collapsed > img.icon-collapse-arrow {
    border-top: .3em solid black;
    border-bottom: 0;
}

.icon-btn {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.is-search {
    padding-right: calc(1.5em + .75rem);
    background-image: url("/svg/icon-search.svg");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.max-50-vh {
    max-height: 50vh;
}

.max-55vh {
    max-height: 55vh;
    overflow-y: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*Toasts*/
.toasts-wrapper {
    bottom: 0;
    right: 1rem;
    z-index: 999;
    display: flex;
    position: fixed;
    flex-direction: column;
}

.toast-item {
    width: 380px;
    animation: fadein 1s;
    box-shadow: rgba(0,0,0,0.25) 0px 10px 40px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .toast-item {
        width: 320px;
    }
}