.invalid {
    border-color: #dc3545;
}

.validation-message {
    color: #dc3545;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-page {
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1051;
    width: calc(100vw - 250px);
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #F7F8FC;
}

@media screen and (max-width: 768px) {
    .loading-page {
        left: 68px;
        width: calc(100vw - 68px);
    }
}

.loading-tab {
    position: fixed;
    top: 119px;
    left: 250px;
    z-index: 1051;
    width: calc(100vw - 250px);
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #F7F8FC;
}

@media screen and (max-width: 768px) {
    .loading-tab {
        top: 0;
        left: 68px;
        width: calc(100vw - 68px);
    }
}

.table-scrollable {
    overflow-y: auto;
    max-height: 60vh;
}

.table-action-column {
    width: 1px;
}

.table-checkbox-column {
    width: 1px;
}

.table-row {
    cursor: pointer;
}

.table-selected-row {
    color: white !important;
    background-color: #007BFF !important;
}

.table-sort-arrow {
    cursor: pointer;
    width: 18px;
}

.table-sort-arrow-up {
    content: url("/svg/action/table-arrow-sort.svg");
}

.table-sort-arrow-down {
    content: url("/svg/action/table-arrow-sort.svg");
    transform: rotate(180deg);
}

.table-fixed {
    width: 100%;
}

    .table-fixed tbody {
        overflow-y: auto;
        width: 100%;
    }

    .table-fixed thead,
    .table-fixed tbody,
    .table-fixed tr,
    .table-fixed td,
    .table-fixed th {
        display: block;
    }

        .table-fixed tbody td {
            float: left;
        }

        .table-fixed thead tr th {
            float: left;
        }

.btn-min-w {
    min-width: 74px;
}

.cursor-pointer {
    cursor: pointer;
}

.settings-card {
    max-width: 998px;
    background: #FFF;
    border-radius: 0.25rem !important;
    border: 1px solid #dee2e6 !important;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.icon-collapse-arrow {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid black;
    border-left: .3em solid transparent;
}

div.collapsed > img.icon-collapse-arrow {
    border-top: .3em solid black;
    border-bottom: 0;
}

.icon-btn {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.is-search {
    padding-right: calc(1.5em + .75rem);
    background-image: url("/svg/action/search.svg");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.max-50-vh {
    max-height: 50vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}