@model HES.Web.Pages.Employees.DetailsModel

<form method="post" id="accForm" asp-page-handler="EditPersonalAccountPwd">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DeviceAccount.Id" />
    <input type="hidden" asp-for="DeviceAccount.EmployeeId" />
    <input type="hidden" asp-for="DeviceAccount.Name" />
    <input type="hidden" asp-for="DeviceAccount.Login" />
    <div class="form-group">
        <h5 class="text-navyblue">@Model.DeviceAccount.Name</h5>
    </div>
    <div class="form-group">
        <label asp-for="AccountPassword.Password" class="text-gray"></label>
        <input asp-for="AccountPassword.Password" class="form-control text-navyblue" />
        <span asp-validation-for="AccountPassword.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AccountPassword.ConfirmPassword" class="text-gray"></label>
        <input asp-for="AccountPassword.ConfirmPassword" class="form-control text-navyblue" />
        <span asp-validation-for="AccountPassword.ConfirmPassword" class="text-danger"></span>
    </div>

    <div id="updateAdPasswordWrapper" class="form-group @(ViewBag.IsDomain == true ? "" : "d-none")">
        <div class="custom-control custom-checkbox">
            <input id="updateAdPassword" type="checkbox" class="custom-control-input" name="updateAdPwd" value="true" />
            <label class="custom-control-label" for="updateAdPassword">Update the password in the AD</label>
        </div>
    </div>

    <input type="hidden" asp-for="ActiveDirectoryCredential.Host" value="@ViewBag.Host" />
    <input id="adUserName" type="hidden" asp-for="ActiveDirectoryCredential.UserName" value="user" />
    <input id="adPassword" type="hidden" asp-for="ActiveDirectoryCredential.Password" value="password" />
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="button" value="Save" class="btn btn-primary" onclick="accSubmit()" />
    </div>
</form>


<script>
    function accSubmit() {    
        if ($('#updateAdPassword').prop('checked')) {
            var valid = $('#accForm').valid();
            if (valid) {
                $('#secondModalDialog').modal('show');
            }
            return false;
        }
        $('#adUserName').val('user');
        $('#adPassword').val('password');
        $('#accForm').submit();
    }
</script>
