@if (Account == null)
{
    <LoadingTab />
}
else
{
    <h5 class="text-gray mb-4 text-break">You want to delete @Account.Type.ToString().ToLower() account @Account.Name?</h5>

    <div class="d-flex d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mr-2" @onclick="CloseAsync">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="DeleteAccoountAsync">Delete</button>
    </div>
}