@inherits OwningComponentBase

@if (Account == null)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <EditForm Model="_accountOtp" OnValidSubmit="EditAccountOtpAsync">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="ValidationErrorMessage" />
            <div class="form-group">
                <h5 class="text-navyblue">@Account.Name</h5>
            </div>
            <div class="form-group">
                <FormLabel For="@(() => _accountOtp.OtpSecret)" class="text-gray" />
                <InputText @bind-Value="_accountOtp.OtpSecret" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _accountOtp.OtpSecret)" class="text-danger" />
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}