@if (Filter == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Last Seen Start Date</label>
                <input type="date" id="filterLastSeenStartDate" @bind="Filter.LastSeenStartDate" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Last Seen End Date</label>
                <input type="date" id="filterLastSeenEndDate" @bind="Filter.LastSeenEndDate" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Company</label>
                <InputText id="filterCompany" @bind-Value="Filter.Company" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Department</label>
                <InputText id="filterDepartment" @bind-Value="Filter.Department" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Position</label>
                <InputText id="filterPosition" @bind-Value="Filter.Position" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Vaults Count</label>
                <InputNumber id="filterVaultsCount" @bind-Value="Filter.VaultsCount" class="form-control" />
            </div>
            <div class="col align-self-end text-right form-group">
                <button id="clearFilter" type="button" class="btn btn-secondary" @onclick="ClearAsync">Clear</button>
                <input id="submitFilter" type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
}