@inherits OwningComponentBase

@if (!Initialized)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <div class="mb-3">
            <h5 class="text-navyblue">Confirm generate password for @Account.Name<span>.</span></h5>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
            <ButtonSpinner Class="btn btn-primary" Text="Generate" Callback="GenerateAccountPasswordAsync" />
        </div>
    }
}