<h5>How to use?</h5>
<p>
    Create two groups <span class="font-weight-bold">Hideez Key Owners</span> and <span class="font-weight-bold">Hideez Auto Password Change</span>. If the user belongs to the second, then it should work functionally.
</p>
<p>
    Synchronize with the active directory once an hour.
</p>
<h6>Hideez Key Owners</h6>
<ul>
    <li>When adding to a group, import only the user.</li>
    <li>when deleting from a group, we delete the key and leave the user without a key on HES.</li>
</ul>
<h6>Hideez Auto Password Changes</h6>
<ul>
    <li>When adding to the group, import the domain account to HES and change the password and enable scheduled password change.</li>
    <li>when deleting from a group, we stop automatic password change according to the schedule.</li>
</ul>
<div class="text-center mt-4">
    <ButtonSpinner Text="Sync Now" Class="btn btn-primary btn-min-w" Callback="SyncAsync" />
</div>