<h5>How does it work?</h5>
<p>
    Create 2 groups in your Active Directory <span class="font-weight-bold">Hideez Key Owners</span> and <span class="font-weight-bold">Hideez Auto Password Change</span>.
</p>
<p>
    Users added to the <span class="font-weight-bold">Hideez Key Owners</span> group in the AD will be automatically imported to the HES during synchronization.
</p>
<p>
    If the user is a member of both the <span class="font-weight-bold">Hideez Key Owners</span> and <span class="font-weight-bold">Hideez Auto Password Change</span> groups, then the domain account will be imported during synchronization, and a new password will be generated.
</p>
<p>
    When the new password is written into the Hideez Key simultaneously, it will be changed in the AD. From this time, the user has to use his Hideez Key to login. Further scheduled password changes will follow the same algorithm.
</p>
<p>
    If the user is removed from the <span class="font-weight-bold">Hideez Auto Password Change</span> group, the automatic password change logic stops working.
    <br />
    If the user is removed from the <span class="font-weight-bold">Hideez Key Owners</span> group, he remains in the HES employees list, but the key is deleted from him.
</p>
<p>
    Synchronization with AD is done once an hour. Automatic password change is done according to the settings. To have this working, make sure you added to the HES settings the AD administrator's credentials with permissions to get users and groups from the AD and change user's passwords.
</p>
@*<p>
    Create two groups <span class="font-weight-bold">Hideez Key Owners</span> and <span class="font-weight-bold">Hideez Auto Password Change</span>. If the user belongs to the second, then it should work functionally.
</p>
<p>
    Synchronize with the active directory once an hour.
</p>
<h6>Hideez Key Owners</h6>
<ul>
    <li>When adding to a group, import only the user.</li>
    <li>When deleting from a group, we delete the key and leave the user without a key on HES.</li>
</ul>
<h6>Hideez Auto Password Changes</h6>
<ul>
    <li>When adding to the group, import the domain account to HES and change the password and enable scheduled password change.</li>
    <li>When deleting from a group, we stop automatic password change according to the schedule.</li>
</ul>*@
<div class="text-center mt-4">
    @if (!Initialized)
    {
        <LoadingText />
    }
    else
    {
        @if (CredentialsNotSet)
        {
            <Alert Message="To sync users from the active directory, set domain settings on the parameters page." />
            <div class="text-center  mt-1">
                <button type="button" class="btn btn-secondary btn-min-w" @onclick="@(async () => await ModalDialogService.CloseAsync())">Close</button>
            </div>
        }
        else
        {
            <ButtonSpinner Text="Sync Now" Class="btn btn-primary btn-min-w" Callback="SyncAsync" />
        }
    }
</div>