@page
@model HES.Web.ActivateModel
@{
    ViewData["Title"] = "Activate";
    Layout = "_ProtectionLayout.cshtml";
}

<div class="content-centered">
    <div class="custom-card">
        <div class="text-center m-3">
            <img src="~/svg/hes-logo.svg" />
        </div>
        <form method="post">
            <h4 class="text-navyblue text-center my-4">Enter encryption password</h4>
            <div class="form-group">
                <label class="text-gray" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}