@if (CurrentPassword == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="CurrentPassword" OnValidSubmit="DisableDataProtectionAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="control-label text-gray">Password</label>
            <InputText @bind-Value="CurrentPassword.Password" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => CurrentPassword.Password)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
            <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Disable" Class="btn btn-danger" />
        </div>
    </EditForm>
}