@page "{handler?}"
@model HES.Web.Pages.Settings.DataProtection.IndexModel

@{
    ViewData["Title"] = "Data Protection";
    ViewData["ActivePage"] = MenuNavPages.Settings;
    ViewData["SettingsPage"] = SettingsNavPages.DataProtection;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

<h1 class="text-navyblue">Data Protection</h1>
<hr />
@switch (Model.Status)
{
    case Core.Services.ProtectionStatus.Off:
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#enableDataProtection" aria-expanded="false" aria-controls="enableDataProtection">
                Enable data protection
            </button>
        </p>
        <div class="collapse" id="enableDataProtection">
            <div class="profile-fill-card">
                <form method="post" style="max-width:350px">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="text-gray" asp-for="NewPassword.Password"></label>
                        <input asp-for="NewPassword.Password" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="NewPassword.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-gray" asp-for="NewPassword.ConfirmPassword"></label>
                        <input asp-for="NewPassword.ConfirmPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="NewPassword.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group m-0">
                        <input type="submit" value="Enable" class="btn btn-primary" asp-page-handler="EnableProtection" />
                    </div>
                </form>
            </div>
        </div>
        break;
    case Core.Services.ProtectionStatus.On:
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#disableDataProtection" aria-expanded="false" aria-controls="disableDataProtection">
                Disable data protection
            </button>
        </p>
        <div class="collapse" id="disableDataProtection">
            <div class="profile-fill-card">
                <form method="post" style="max-width:350px">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="text-gray" asp-for="CurrentPassword.Password"></label>
                        <input asp-for="CurrentPassword.Password" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="CurrentPassword.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group m-0">
                        <input type="submit" value="Disable" class="btn btn-danger" asp-page-handler="DisableProtection" />
                    </div>
                </form>
            </div>
        </div>
        <br />
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#changeEncryptionPassword" aria-expanded="false" aria-controls="changeEncryptionPassword">
                Change encryption password
            </button>
        </p>
        <div class="collapse" id="changeEncryptionPassword">
            <div class="profile-fill-card">
                <form method="post" style="max-width:350px">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="text-gray" asp-for="ChangePassword.OldPassword"></label>
                        <input asp-for="ChangePassword.OldPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-gray" asp-for="ChangePassword.NewPassword"></label>
                        <input asp-for="ChangePassword.NewPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-gray" asp-for="ChangePassword.ConfirmPassword"></label>
                        <input asp-for="ChangePassword.ConfirmPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group m-0">
                        <input type="submit" value="Change" class="btn btn-primary" asp-page-handler="ChangeProtectionSecret" />
                    </div>
                </form>
            </div>
        </div>
        break;
    case Core.Services.ProtectionStatus.Busy:
        <h5>Protection is Busy</h5>
        break;
}

<hr />
<h5>
    Для чего это нужно?
</h5>
<p>
    Data Protection позволяет решить проблему безопасного хранения данных в базе.
</p>
<h5>
    Какие конфиденциальные данные хранятся в базе?
</h5>
<p>
    Прежде всего это Device Keys - ключи шифрования, которые позволяют получить доступ к содержимому устройств Hideez Key. Также в базе временно хранятся пароли и OTP Secrets, которые ожидают передачи на устройства. Если это пароли к Shared Account, то они хранятся в базе постоянно. Если Data Protection не включен, то все пароли и ключи хранятся в открытом виде. При наличии Device Key и наличии самого устройства можно прочитать все содержимое памяти Hideez Key.
</p>
<h5>
    Нужно ли мне включать Data Protection?
</h5>
<p>
    Прежде всего, нужно оценить, у кого из сотрудников есть прямой или потенциальный доступ к базе данных HES. Если среди них есть те, кто не должен иметь доступ к конфиденциальным данным, перечисленным в предыдущем пункте, то Data Protection должен быть обязательно включен. Примите также во внимание, что данные могут быть считаны физически с HDD/SDD на котором они хранятся, т.е. нужно учитывать возможность как программного, так и физического доступа к данным.
    В некоторых случаях, например, если HES и сервер базы данных работают на одном и том же физическом сервере, доступ к которому ограничен доверенным кругом лиц, то Data Protection можно не включать.
</p>
<h5>
    Как это работает?
</h5>
<p>
    Все конфиденциальные поля в БД шифруются алгоритмом AES-256. Ключ шифрования (пароль) вводится вручную администратором после запуска веб сервера и затем хранится только в оперативной памяти сервера.
    Если сервер перезагрузится, ключ шифрования будет стерт, а все администраторы получат имейл с просьбой ввести пароль от Data Protection. До того, как пароль будет введен, сервер не выполняет обработку входящих запросов. После того, как пароль введен, сервер переходит в нормальный режим работы, данные расшифровываются налету.
    <br />
    <br />
    Пароль от Data Protection можно поместить в конфиг-файл или Environment Variables на сервере, чтобы не вводить их вручную. В этом случае сервер может перезагрузится без участия администратора. Естественно, что в этом случае доступ к серверу должен быть доступен только для уполномоченных лиц.
    <br />
    <br />
    Пароль для Data Protection может быть сменен. Для этого в интерфейсе HES нужно ввести старый пароль и дважды новый пароль. Все данные в базе будут перешифрованы.
</p>
<h5>
    Risks and best practices
</h5>
<p>
    Основной риск при использовании Data Protection — это потеря пароля для его активации. В этом случае вы теряете доступ к зашифрованным данным на сервере, а также доступ ко всем данным на всех ваших устройствах Hideez Key! Все устройства придется подвергнуть процедуре ручного сброса с полной очисткой памяти. Затем повторно их привязать к сотрудникам и заново добавлять все аккаунты на устройства.
    Исходя из этого можно дать следующие рекомендации - пароль от Data Protection должен быть известен нескольким сотрудникам. Также он должен хранится в безопасном месте (сейфе) на физическом носителе.
    <br />
    <br />
    Также в случае использования Data Protection есть риск недоступности сервера HES, в случае его аварийной перезагрузки, до того момента, как будет введен пароль для активации Data Protection. Но это не должно сказаться на работе компании, поскольку все аккаунты хранятся на устройствах сотрудников и могут использоваться без наличия связи с сервером HES.
    <br />
    <br />
    Смена пароля Data Protection должна производится в соответствии с регламентом информационной безопасности компании.
</p>


@section Scripts{
    <script>
        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Settings</li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Data Protection</li>');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
