@inherits LayoutComponentBase

<div class="d-flex">
    <!-- Side bar -->
    <div class="custom-sidebar">
        <NavMenu />
    </div>
    <!-- Content -->
    <div class="d-flex flex-column custom-main">
        <!-- Nav bar -->
        <NavBar />
        <!-- Main -->
        <div class="custom-content p-4">
            <ModalDialog />
            <Toast />
            @Body
        </div>
    </div>
</div>