<EditForm Model="Invitation" OnValidSubmit="InviteAdminAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <label class="control-label text-gray">Email</label>
        <InputText @bind-Value="Invitation.Email" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Invitation.Email)" class="text-danger" />
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
        <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Invite" Class="btn btn-primary" />
    </div>
</EditForm>