@using HES.Core.Models.Web.Breadcrumb

@if (Items != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var item in Items)
            {
                if (item.Active)
                {
                    <li class="breadcrumb-item active">@item.Content</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="@item.Link">@item.Content</a></li>
                }
            }
        </ol>
    </nav>
}


@code {
    public List<Breadcrumb> Items { get; set; }

    public async Task ShowAsync(List<Breadcrumb> items)
    {
        await InvokeAsync(() =>
        {
            Items = items;
            StateHasChanged();
        });
    }
}