@if (Items != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var item in Items)
            {
                if (item.Active)
                {
                    <li class="breadcrumb-item active" aria-current="page">@item.Content</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="@item.Link">@item.Content</a></li>
                }
            }
        </ol>
    </nav>
}