@if (Submit)
{
    <button type="submit" class="@Class">
        @if (_busy)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        }
        <span>@Text</span>
    </button>
}
else
{
    <button type="button" @onclick="ClickHandler" class="btn @Class">
        @if (_busy)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        }   
        <span>@Text</span>
    </button>
}