<button type="submit" class="btn @Class">
    <span class="spinner-border spinner-border-sm @(_isBusy == true ? null : "d-none")" role="status" aria-hidden="true"></span>
    <span>@Text</span>
</button>