<h5 class="mb-3">The @EntityName is currently being edited by another admin</h5>
<div class="text-right">
    <button type="button" class="btn btn-secondary" @onclick="@(async () => await  CloseAction.InvokeAsync(this))">Close</button>
</div>

@code {
    [Parameter] public string EntityName { get; set; }
    [Parameter] public EventCallback CloseAction { get; set; }
}
